.wrap-faq-list {
  margin-top: 50px;
  background: white;
}

.panel-group {
  background: white;
  padding: 0 40px;
  .panel {
    border: none;
    box-shadow: none;
  }
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border: none;
}

.panel-default>.panel-heading {
  background: none;
  padding: 0;
  border-bottom: solid 1px #dadada;
  box-shadow: none;
  .panel-title {
    font-size: 14px;
    letter-spacing: 1.4px;
    font-weight: 600;
    a {
      padding: 25px 20px 25px 0;
      display: block;
      text-decoration: none;
      position: relative;
      .icon {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        //float: right;
        right: 0;
        font-size: 10px;
        color: #b1b1b1;
      }
      .icon-back-icon {
        font-size: 16px;
      }
    }
    a[aria-expanded="true"] .icon-down-icon { display: none};
    a[aria-expanded="false"] .icon-back-icon { display: none}
  }
}


