@import url(svg-font.css);
@import url(custom-bootstrap-style.css);
@import url(faq.css);
@import url(content.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none; }

.btn {
  background-color: #71b526;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 100px;
  margin: 20px 0; }
  .btn:hover {
    color: white;
    opacity: .5; }

.header-login-sign-up {
  -webkit-box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.25);
  -moz-box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.25);
  box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.25);
  background: #f8f8f8;
  position: relative;
  z-index: 1;
  padding: 10px 0 15px; }
  .header-login-sign-up .logo {
    text-align: center; }

.social-links.big li a {
  width: 50px;
  height: 50px;
  margin-bottom: 5px; }
.social-links.big .facebook-social a {
  background: url("../img/social-icons-big/facebook.png") no-repeat;
  background-size: 100% 100%; }
.social-links.big .twitter-social a {
  background: url("../img/social-icons-big/twitter.png") no-repeat;
  background-size: 100% 100%; }
.social-links.big .vimeo-social a {
  background: url("../img/social-icons-big/vimeo.png") no-repeat;
  background-size: 100% 100%; }
.social-links.big .youtube-social a {
  background: url("../img/social-icons-big/youtube.png") no-repeat;
  background-size: 100% 100%; }
.social-links.big .instagram-social a {
  background: url("../img/social-icons-big/instagram.png") no-repeat;
  background-size: 100% 100%; }
.social-links.big .linkedin-social a {
  background: url("../img/social-icons-big/linkedin.png") no-repeat;
  background-size: 100% 100%; }

.social-links {
  margin-top: 15px; }
  .social-links li {
    display: inline-block; }
    .social-links li a {
      text-indent: -9999px;
      width: 26px;
      height: 26px;
      display: block;
      background-size: cover; }
      .social-links li a:hover {
        opacity: .5; }
  .social-links .facebook-social a {
    background: url("../img/social-icons/facebook.png") no-repeat;
    background-size: 100% 100%; }
  .social-links .twitter-social a {
    background: url("../img/social-icons/twitter.png") no-repeat;
    background-size: 100% 100%; }
  .social-links .vimeo-social a {
    background: url("../img/social-icons/vimeo.png") no-repeat;
    background-size: 100% 100%; }
  .social-links .youtube-social a {
    background: url("../img/social-icons/youtube.png") no-repeat;
    background-size: 100% 100%; }
  .social-links .instagram-social a {
    background: url("../img/social-icons/instagram.png") no-repeat;
    background-size: 100% 100%; }
  .social-links .linkedin-social a {
    background: url("../img/social-icons/linkedin.png") no-repeat;
    background-size: 100% 100%; }

@media only screen and (max-width: 772px) {
  .social-links {
    text-align: center; } }
.header-profile {
  -webkit-box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.25);
  -moz-box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.25);
  box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.25);
  z-index: 2;
  position: relative; }
  .header-profile .logo {
    text-align: center;
    padding: 10px; }

.logo-xs {
  position: absolute;
  top: 15px;
  left: 0; }
  .logo-xs img {
    width: 80px; }

.wrap-input {
  background: white;
  display: flex;
  align-items: center;
  border-top: solid 1px #d8d8d8;
  border-right: solid 1px transparent;
  border-left: solid 1px transparent;
  border-bottom: solid 1px transparent;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 10px; }
  .wrap-input .icon {
    color: #727272;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    width: 60px;
    background-color: #d8d8d8; }
  .wrap-input input, .wrap-input select {
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    width: 100%; }

.wrap-input.select {
  border: solid 1px #d8d8d8;
  position: relative; }
  .wrap-input.select:hover {
    cursor: pointer; }
  .wrap-input.select:after {
    content: "";
    width: 55px;
    height: 50px;
    border-left: solid 1px #d8d8d8;
    background: url("../img/icon/triangle icon.svg") 50% 50% no-repeat, white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  .wrap-input.select .icon {
    background: none;
    border-left: solid 1px #d8d8d8; }
  .wrap-input.select select {
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2; }

.focus-input {
  border: solid 1px #0e1dc0; }
  .focus-input .icon {
    background-color: #0e1dc0;
    color: white; }

.login {
  background: #f3f5f8;
  padding: 60px 0;
  text-align: center; }
  .login h1 {
    text-transform: uppercase;
    color: #727272;
    margin-bottom: 60px; }
  .login .desc-section {
    color: #727272;
    margin-bottom: 20px; }
  .login .link {
    text-decoration: underline;
    color: #0e1dc0;
    font-weight: 600; }

/*************DASHBOARD******************/
/****************************************/
.dashboard {
  background: #f3f5f8;
  padding-bottom: 50px; }

.logo-profile {
  text-align: center; }
  .logo-profile a {
    display: inline-block;
    padding: 10px 0 15px; }

/*************ASIDE**********************/
.avatar {
  display: inline-block;
  text-align: center; }
  .avatar img {
    border: solid 5px white;
    border-radius: 50%;
    width: 90px;
    height: auto; }

.aside {
  background: url("../img/FS---Navigation-BG.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding: 100px 0 80px; }
  .aside .user {
    text-align: center; }
    .aside .user .name-user {
      font-size: 20px;
      text-align: center;
      padding: 15px 0;
      color: white; }
  .aside .copywrite {
    text-align: center;
    font-style: italic;
    font-size: 13px;
    color: #b1b1b1; }
    .aside .copywrite span {
      font-weight: 600; }

/*************menu-dashboard*************/
.menu-dashboard {
  padding: 40px 10px; }

.list-menu-dashboard .pointer-notification a {
  position: relative; }
  .list-menu-dashboard .pointer-notification a:after {
    position: absolute;
    content: "\25cf";
    color: red;
    top: -3px;
    font-size: 30px; }
.list-menu-dashboard li {
  margin-bottom: 5px; }
  .list-menu-dashboard li:last-child a {
    margin-top: 40px;
    color: #b1b1b1 !important; }
  .list-menu-dashboard li a {
    color: white !important;
    font-size: 24px;
    padding: 10px;
    display: block;
    text-decoration: none; }
    .list-menu-dashboard li a .icon {
      width: 50px;
      text-align: center;
      display: inline-block; }
    .list-menu-dashboard li a:hover {
      color: white;
      background: rgba(255, 255, 255, 0.1) !important;
      border-radius: 30px; }
  .list-menu-dashboard li .active {
    border: solid 2px #979797;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1); }

/***********************************************/
.header-current-window {
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  .header-current-window .link-back {
    position: absolute;
    display: block;
    left: 30px;
    top: 50%;
    margin-top: -10px;
    color: #727272; }
    .header-current-window .link-back .icon {
      font-size: 20px; }
    .header-current-window .link-back:hover {
      text-decoration: none;
      color: #d2b877; }
    @media only screen and (max-width: 767px) {
      .header-current-window .link-back {
        left: 10px; } }
  .header-current-window h1 {
    font-size: 19px;
    color: #727272;
    line-height: 45px;
    text-align: center;
    padding: 10px 0 10px 0;
    border-left: solid 2px #f3f5f8; }

.content-section {
  padding-right: 0;
  padding-left: 0; }
  .content-section .wrap-btn {
    text-align: center; }
  .content-section .wrap-avatar {
    background: linear-gradient(-45deg, #dde4f3 0%, #d7d8ea 100%);
    padding: 30px 0;
    text-align: center; }
  .content-section .header-list-options {
    text-align: left;
    color: #7c7c7c;
    font-size: 16px;
    padding: 10px 30px; }
  .content-section .header-list-options.inside {
    padding: 30px 30px 10px 30px; }
  .content-section .list-options {
    letter-spacing: 1px; }
    .content-section .list-options .link-item a {
      background: white;
      font-size: 15px;
      color: #000;
      padding: 25px 30px;
      display: block;
      border-bottom: solid 1px #dadada; }
      .content-section .list-options .link-item a:hover .key, .content-section .list-options .link-item a:hover .value, .content-section .list-options .link-item a:hover .icon {
        text-decoration: none;
        color: #d2b877; }
      .content-section .list-options .link-item a .key {
        float: left; }
      .content-section .list-options .link-item a .value {
        float: right;
        color: #999999;
        margin-right: 20px; }
      .content-section .list-options .link-item a .icon {
        float: right;
        line-height: 22px;
        color: #999999; }
      .content-section .list-options .link-item a .icon-close-icon {
        font-size: 22px; }
    .content-section .list-options .input-item {
      background: white;
      position: relative; }
      .content-section .list-options .input-item input {
        border: none;
        outline: none;
        width: 100%;
        padding: 25px 80px 25px 30px;
        border-bottom: solid 1px #dadada;
        letter-spacing: 1px; }
        .content-section .list-options .input-item input:hover {
          cursor: pointer; }
          .content-section .list-options .input-item input:hover + label .icon {
            color: #d2b877; }
      .content-section .list-options .input-item input + label {
        position: absolute;
        top: 0;
        right: 0;
        padding: 25px 30px 25px 0; }
        .content-section .list-options .input-item input + label .icon {
          font-size: 22px;
          color: #d8d8d8; }
        .content-section .list-options .input-item input + label:hover {
          cursor: pointer; }
    .content-section .list-options .checkbox-item {
      position: relative;
      background: white;
      border-bottom: solid 1px #dadada; }
      .content-section .list-options .checkbox-item:hover {
        cursor: pointer; }
        .content-section .list-options .checkbox-item:hover .label-text {
          color: #d2b877; }
      .content-section .list-options .checkbox-item input:not(checked) {
        position: absolute;
        opacity: 0; }
      .content-section .list-options .checkbox-item .label-text {
        width: 100%;
        padding: 25px 30px; }
      .content-section .list-options .checkbox-item input:checked + label:before {
        content: "";
        width: 18px;
        height: 16px;
        display: block;
        background: url("../img/check-icon.png") no-repeat 50% 50%;
        position: absolute;
        bottom: 1px;
        right: 0; }
      .content-section .list-options .checkbox-item .checkbox-custom-label {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 30px;
        width: 20px;
        height: 20px;
        border: solid 1px #999999;
        border-radius: 3px; }
  @media only screen and (max-width: 460px) {
    .content-section .list-options {
      letter-spacing: normal; }
      .content-section .list-options li a {
        padding: 20px 15px; } }
  .content-section .logout a {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    background: white;
    color: #000;
    padding: 30px;
    display: block;
    text-transform: uppercase;
    border-bottom: solid 1px #dadada;
    text-decoration: none;
    letter-spacing: 1px; }
    .content-section .logout a:hover {
      text-decoration: none;
      color: #d2b877; }

/******owl-carousel****/
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

.modal-slider {
  padding-bottom: 20px; }

.owl-theme .owl-controls .owl-page span {
  background: none;
  width: 14px;
  height: 14px;
  border: solid 2px #203970; }

.owl-pagination .owl-page.active span {
  background: #203970; }

.owl-prev.disabled, .owl-next.disabled {
  display: none !important; }

.owl-buttons .owl-prev, .owl-buttons .owl-next {
  width: 59px;
  height: 59px;
  background: url("../img/walk-arrow-right.png") 50% 50% no-repeat !important;
  background-size: 100%; }
.owl-buttons .owl-prev {
  position: absolute;
  background: url("../img/walk-arrow-left.png") 50% 50% no-repeat !important;
  top: 50%;
  margin-top: -30px;
  left: -20px; }
.owl-buttons .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: -20px; }

/*# sourceMappingURL=main.css.map */
